body {
    padding-top: 20px;
}

footer {
    height: 100px;
    width: 100%;
    margin: 20px 0 0 0;
    background-color: #000;
    color: #fff;
}

footer p {
    position: relative;
    top: 40%;
    font-size: 1.2em;
    text-align: center;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.reuniones {
    width: 70%;
    padding-left: 30%;
}

.reportes {
    width: 100%;
    padding-left: -10%;
}

.reportes .form-group {
    padding: 10px 15px 20px 15px;
}
.form-horizontal .busqueda{

    position: relative;
    font-size: 50px;
    bottom: 18px;

}
.icons-menu{

    font-size: 30px;
}

#fecha{

    width: 150px;
}

.nav-tabs li a {
    color: #000000;
}

.mdl-tabs__tab-bar a {
    text-decoration: none;
}

#btn-color {
    background-color: #4c6b90;
    color: #fff;
    margin: 15px 0 20px 0;
}

#card-color {
    background-color: #4c6b90;
}

.iconos {
    font-size: 1.5em;
    color: #4c6b90;
}

.demo-card-square {
    width: 100%;
}



#alert-personal {
    position: fixed;
    top: 0;
    left: 39%;
    z-index: 5;
    margin: 0 auto;
    background-color: #4c6b90;
    color: #fff;
    font-size: 1.3em;
}
.capitalize{

    text-transform: capitalize;
}

/*Tamaño de las columnas */

.col-r{
    width: 15%;
}

.col-s{
    width: 10%;
}

.col-l{
    width: 20%;
}

.col-f{
    width: 15%;
}

.col-p{
    width: 5%;
}

.col-c{
    width: 10%;
}

.col-t{
    width: 15%;
}

.col-cost{
    width: 10%;
}
@media screen and (max-width: 700px) {
    .reuniones {
        width: 100%;
        padding-left: 0;
    }
    #alert-personal {
        left: 25%;
    }
}
